<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>CIFAR 10 Image Classification</title> 
</head>
<img src="https://www.researchgate.net/profile/Nirmit-Shetty/publication/334586172/figure/fig3/
AS:1103131853230080@1640018537599/A-sample-representation-of-our-deep-neural-network-Source.ppm" alt="logo" width=400>
<body style="background-color:black;">
    <pre style="color: white;font: Courier"> 
<header>
    <h1>CIFAR10 Image Classification</h1>
  </header>


   </pre>
    <pre style="color: white;font: Courier">
	<p>Final project by:- </p>
	 <ul>
     <li>Mandeep Singh Sawhney</li>
	 <li>Gurinder Singh Sandhu</li>
	 <li>Manu Shrivastava</li>
	 <li>Arinze Okafor</li>
	 <li>Yucheng Yu</li>
	 <li>Jenshi Patel</li>
	 </ul>

CIFAR10CNN is a Convolutional Neural Network trained on the CIFAR10 dataset.
CIFAR10CNN is trained to recognize the difference between the 10 categories which are airplane, car/automobile, bird, cat, deer, dog, frog, horse, ship and semitruck.
Choose a file below containing one of these objects and submit to continue.
You can also download the model used, from the below link.
Firstly choose am image you want to test by clicking on "Choose File" and then click on "Upload" button besides Choose file option.
Please upload an image in the following formats only PNG, JPG, and JPEG.
    </pre>
    <form action="/success" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit" value="Upload"/>
    </form>
    <pre>


    </pre>
    <p><a href="/models" style="color:white">Click here to download CNN model .h5 file</a></p>
</body>
</html>