<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>CIFAR10CNN</title> 
</head>
<img src="https://www.researchgate.net/profile/Nirmit-Shetty/publication/334586172/figure/fig3/
AS:1103131853230080@1640018537599/A-sample-representation-of-our-deep-neural-network-Source.ppm" alt="logo" width=300>
<body style="background-color:black;">
    <pre style="color: white;font: Courier"> 

Uh oh! This is a photo recognition AI, so you must upload an image. Allowed file formats are PNG, JPG, and JPEG.
    </pre>
</body>
</html>